{% extends 'base.html.twig' %}

{% block body %}
<div class="intro-container">
    {# Le gros titre Bienvenue du bas #}
    <h1>Bienvenue</h1>
    
    {# La phrase moderne que tu as choisie #}
    <span class="intro-text">EXPLOREZ MON UNIVERS</span>
    
    {# Tes bulles de navigation à l'identique #}
    <div class="bubble-container">
    <a href="{{ path('app_cv') }}" class="bubble">Mon parcours</a>
    <a href="{{ path('app_competence') }}" class="bubble">Expertise</a>
    <a href="{{ path('app_contact') }}" class="bubble">Contact</a>
</div>
</div>
{% endblock %}