<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon Portfolio{% endblock %}</title>
       {% block stylesheets %}
    {{ importmap('app') }}
{% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <a href="{{ path('app_home') }}">Accueil</a>
            <a href="#cv">CV</a>
            <a href="#competence">Compétences</a>
            <a href="#plus">Plus</a>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>